html, body, #pho-frame_container {
  width: 100%;
  /*height: 100%;*/
  padding: 0;
  margin: 0;
  background-color: white;
  color: white;
  overflow-x: hidden;
}

* {
  webkit-tap-highlight-color: rgba(0,0,0,0);
}

.pho-frame:focus {
    outline: none;
}

/* LIGHTBOX */

div#pho-lightbox {
  display: none;
  position: absolute; /*more reliable on mobile*/
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*for iOS*/
}

/*not img#pho-lightbox_img because during transition there are multiple img in the lightbox (ghost)*/
div#pho-lightbox img {
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

div#pho-lightbox_caption{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18pt;
    font-family: verdana,arial,sans;
    line-height: 300%;
    text-align: center;
    width: 100%;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 100%);*/
}

@media (max-width: 630px), (max-height: 500px) {
  div#pho-lightbox_caption{
    display: none;
  }
  div#pho-lightbox img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  div#pho-lightbox_close {
    display: none !important;
  }
}

/* VIEWER */

div.pho-frame {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 0;
  margin: 0;
  color: white;
}

div.viewer, div.pho-viewer {
  margin: 0 auto;
}

div.image, div.pho-image {
  cursor: pointer;
  position: relative;
  overflow: hidden; /*because of rotating loader*/
  /*default values*/
  background-color: black;
  color: white;
  transition: box-shadow 0.2s ease 0.1s;
}

div.image:focus, div.pho-image:focus {
    /*neutral highlight. customize per page*/
    box-shadow: 0px 0px 7px 7px rgba(164, 164, 164, 0.72);
    outline: none;
}

div.image img, div.pho-image img{
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /*height: 100%;*/
}

@media (max-width: 630px), (max-height: 500px) {
  .viewer, .pho-viewer {
    margin-top: 0 !important;
  }
}

/* Layouts */

.pho-linear_horizontal {
    width: 100%;
    clear: both;
}

.pho-linear_horizontal > * {
    float: left;
}

.pho-linear_vertical {
    height: 100%;
}

.pho-linear_vertical > * {
    width: 100%;
    float: left; /* otherwise margins will overlap */
}

/* CAPTION */

div.caption, div.pho-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  height: auto;
  font-size: 18pt;
  font-family: verdana, arial, sans;
  text-align: right;
  padding: 10px 5.1%;
  background-color: black;
  color: white;
  opacity: 0;
}

div.caption_left {
  text-align: left;
}

div.caption_left span {
  left: 10px;
  right: auto;
}

div.caption_top {
  top: 0;
  bottom: auto;
}

.text_white {
  color: white !important;
}

.text_black {
  color: black !important;
}

.white {
  background-color: white !important;
}

/* References */
.ref_500px, .ref_flickr {
  display: block;
  float: right;
  width: 24px;
  height: 24px;
  margin: 5px;
}

.ref_500px {
  background-image: url('res/500px.png');
}

.ref_flickr {
  background-image: url('res/flickr.png');
}

@media (max-width: 630px) {
  div.caption, div.pho-caption {
    font-size: 12pt;
  }
  .ref_500px, .ref_flickr {
    margin: 0 5px;
  }
}

/* ANIMATIONS */
.loader_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

.loader {
    position: absolute;
    background-image: url('res/load.png');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotate 3s infinite linear;
    -webkit-animation: rotate 3s infinite linear; /*webkit compat*/
}

@keyframes rotate{
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate{ /*webkit compat*/
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.flat_loader {
    background-image: url('res/flat_load.png');
    width: 100%;
    height: 5px;
    background-size: 600px;
    background-repeat: repeat;
    animation: slide 2s infinite linear;
    -webkit-animation: slide 2s infinite linear; /*webkit compat*/
    opacity: 0.5;
}

@keyframes slide{
    from {
        background-position: 0 0;
    }
    to {
        background-position: 600px 0;
    }
}

@-webkit-keyframes slide{ /*webkit compat*/
    from {
        background-position: 0 0;
    }
    to {
        background-position: 600px 0;
    }
}

/* NAVIGATION */

div.pho-navigation,
div.pho-arrow {
    display: none;
}

div#pho-lightbox div.pho-navigation {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  width: 8%;
  min-width: 35px;
  margin: 0;
  background-color: white;
  opacity: 0;
  cursor: pointer;
}

div#pho-lightbox div.pho-n_prev {
  left: 0;
}

div#pho-lightbox div.pho-n_next {
  right: 0;  /*adjusted in jquery*/
}

div#pho-lightbox div.pho-arrow {
  display: block;
  position: fixed;
  top:48%;
  height: 31px;
  width: 20px;
}

div#pho-lightbox div.pho-a_next {
  background-image: url('res/arrow_right.png');
  right: 10px; /*adjusted in jquery*/
}

div#pho-lightbox div.pho-a_prev {
  background-image: url('res/arrow_left.png');
  left: 10px;
}

div#pho-lightbox_close {
  position: fixed;
  top:20px;
  right:20px;
  height: 31px;
  width: 31px;
  background-image: url('res/x.png');
  opacity: 0;
  cursor: pointer;
}

/* FOOTNOTE */

.copyright {
  float: right;
  font-size: 10pt;
  font-family: verdana, arial, sans;
  padding: 0 10px 10px 0;
}

#pho-touch_footer {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 60px;
  text-align: center;
  color: black;
  background-color: #eee;
  opacity: 0.7;
  padding: 10px 0;
}

/* Fullscreen */
:full-screen #pho-frame_container, {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

:-webkit-full-screen #pho-frame_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

:-moz-full-screen #pho-frame_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
